html, body {
	background-color:rgb(30,30,30);
	margin:0;
}

#map {
	background-color:rgb(55,60,30);
	min-height: 600px;
	max-width:600px;

	margin:10px;
}

#map>div {
	height: 10px;
	min-height: 10px;
	max-height: 10px;

	width: 10px;
	min-width: 10px;
	max-width: 10px;

	margin-left: 11px;
	margin-top: 11px;

	left:0px;
	top:0px;

	position: absolute;
}

.body    { background-image: url("../img/body.png"); }
.head    { background-image: url("../img/head.png"); }
.apple   { background-image: url("../img/apple.png"); }
.grape   { background-image: url("../img/grape.png"); }
.cherry  { background-image: url("../img/cherry.png"); }
.barrier { background-image: url("../img/barrier.png"); }

[data-name = 'snake-2'] { filter:hue-rotate(90deg); }

.failed { border-color:red !important; }
